<%- include('partials/main') %>
<%- include('partials/title-meta') %>
<%- include('partials/head-css') %>
<%- include('partials/body') %>
<%- include('partials/topbar') %>
<%- include('partials/sidebar') %>


<div class="main-content">
  <div class="page-content">
    <div class="row">
      <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
          <h4 class="page-title mb-0 font-size-18">Dashboard</h4>

          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item active">Welcome <%= user.name %></li>
            </ol>
          </div>

        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">

            <h4 class="card-title">Buttons example</h4>
            <p class="card-title-desc">The Buttons extension for DataTables provides a common
              set of options, API methods and styling to display buttons on a page that will
              interact with a DataTable. The core library provides the based framework upon
              which plug-ins can built.
            </p>

            <table id="userTable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Created At</th>
                  <th>Action</th>
                </tr>
              </thead>

              <tbody>
             
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- end col -->
    </div>

    


    <%- include('partials/footer') %>
    <%- include('partials/vendor-scripts') %>
    <script>
      $(document).ready(function() {
        $.ajax({
          url: '/users/getusers',
          type: 'GET',
          success: function(data) {
            // Populate the datatable with the received data
            $('#userTable').DataTable({
              data: data,
              columns: [{
                  data: 'name'
                },
                {
                  data: 'email'
                },
                {
                data: 'phone'
                },
                {
                data: 'createdAt'
                },
                {
                data: '_id',
                render: function(data, type, row) {
                // Render a button with the user id as its value
                return '<button class="btn btn-primary btn-sm" onclick="viewUser(' + data + ')">Edit</button>';
                }
                }
                // Add other columns as needed
              ]
            });
          },
          error: function(err) {
            console.error('Error fetching users:', err);
          }
        });
      });
    </script>


    </html>